body {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

nav {
    padding: 0 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: rgb(200, 197, 197);
}

.links_ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

main {
    margin: 2rem 5rem;
}

#Home_Section {
    display: flex;
    gap: 2rem;
}

.section {
    padding: 0 2rem;
}

header,
footer {
    margin: 1rem 5rem;
}


/* CSS for responsiveness */

@media screen and (max-width:768px) {

    nav {
        flex-direction: column;
    }

    .links_ul {
        padding: 0 1rem;
    }

    li {
        font-size: 0.75rem;
    }

    #Home_Section {
        flex-wrap: wrap;
    }

    main,
    header {
        margin: 2rem 0.75rem;
    }

    h1 {
        font-size: larger;
    }
}